* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

ul {
    list-style: none;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.todo {

}

.todo-list {
    padding: 2rem;
}

.todo-list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    margin-left: 3rem;
}

.todo__form {
    margin-top: 35rem;
}